.single-proj {
    width:100%;
    height:400px;
    background-color: white;
    border: 21px solid #131313;
    margin-top: 30px;
    /* box-shadow:0px 0px 0px 10px red inset; */
    overflow: hidden;
    box-sizing: border-box;
    -webkit-transition: border 0.3s; /* Safari prior 6.1 */
    transition: border 0.3s;
    transition-timing-function: ease;
}
.single-proj1 {
    width:100%;
    /* height:462px; */
    /* background-image: url("../images/bloomberg1.png");
    background-repeat: no-repeat; */
    background-size: 100%;
    border: 28px solid #131313;
    margin-top: 30px;
    /* box-shadow:0px 0px 0px 10px red inset; */
    overflow: hidden;
    box-sizing: border-box;
    -webkit-transition: border 0.5s; /* Safari prior 6.1 */
    transition: border 0.5s;
    transition-timing-function: ease;
}
.single-proj2 {
    width:100%;
    /* height:462px; */
    /* background-image: url("../images/slanguage1.png");
    background-repeat: no-repeat;
    background-size: 100%; */
    border: 28px solid #131313;
    margin-top: 30px;
    /* box-shadow:0px 0px 0px 10px #FDF400 inset; */
    overflow: hidden;
    box-sizing: border-box;
    -webkit-transition: border 0.5s; /* Safari prior 6.1 */
    transition: border 0.5s;
    transition-timing-function: ease;
}
.single-proj3 {
    width:100%;
    /* height:462px; */
    /* background-image: url("../images/slanguage1.png");
    background-repeat: no-repeat;
    background-size: 100%; */
    border: 28px solid #131313;
    margin-top: 30px;
    /* box-shadow:0px 0px 0px 10px #FDF400 inset; */
    overflow: hidden;
    box-sizing: border-box;
    -webkit-transition: border 0.5s; /* Safari prior 6.1 */
    transition: border 0.5s;
    transition-timing-function: ease;
}
.single-proj:hover {
    border: 21px solid red;
}
.single-proj1:hover {
    border: 28px solid #FDA6FF;
}
.single-proj2:hover {
    border: 28px solid #F93943;
}
.single-proj3:hover {
    border: 28px solid #053C5E;
}
.inside-1 {
    width: 55%;
    height:100%;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../images/holder.jpeg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-repeat: no-repeat; /* Do not repeat the image */ 
}
.img-1 {
    width: 100%;
    height:100%;
}
.slang-pic {
    width:100%;
    margin-bottom: -4px;
}
@media only screen and (max-width: 880px) {
    .single-proj {
        border: 16px solid #131313;
        height: 43vw;
    }
    .single-proj:hover {
        border: 21px solid;
    }
    .single-proj1 {
        border: 21px solid #131313;
    }
    .single-proj2 {
        border: 21px solid #131313;
    }
    .single-proj3 {
        border: 21px solid #131313;
    }
    .single-proj1:hover {
        border: 21px solid #FDA6FF;
    }
    .single-proj2:hover {
        border: 21px solid #F93943;
    }
    .single-proj3:hover {
        border: 21px solid #053C5E;
    }
  }



  @media only screen and (max-width: 450px) {
    .single-proj1 {
        border: 13px solid #131313;
    }
    .single-proj2 {
        border: 13px solid #131313;
    }
    .single-proj3 {
        border: 13px solid #131313;
    }
    .single-proj1:hover {
        border: 13px solid #FDA6FF;
    }
    .single-proj2:hover {
        border: 13px solid #F93943;
    }
    .single-proj3:hover {
        border: 13px solid #053C5E;
    }
  }