.App {
  text-align: center;
  background-color: black;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
}
.name {
  color:#DD3276;
}
.App-header {
  padding: 25px;
  color: white;
}
.intro {
  font-size:45px;
  text-align: left;
  font-family: titling-gothic-fb-wide, sans-serif;
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 200px;
  width:780px;
}
.work-text {
  font-family: input-mono-narrow,monospace;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 5px;
  font-size: 20px;
  color:#0eedcf;
  display: block;
  text-align: left;
}

